{% load  static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block title %}
    {% endblock title %}
  <nav class="navbar navbar-dark bg-dark " class="collapse navbar-collapse">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      Menu<span class="navbar-toggler-icon"></span>
    </button>
      <a class="nav-item nav-link" href="{% url 'todoemp' %}">Add Task</a>
      <!--<a class="nav-item nav-link" href="{% url 'attendance' %}">Attendance</a>-->
      <a class="nav-item nav-link" href="{% url 'todolist3' %}">Akash Page</a>
      <a class="nav-item nav-link" href="{% url 'dailywork1' %}">Hourly Working report</a>
      <a class="nav-item nav-link" href="{% url 'gstmaster' %}">GST-Master</a>
      <a class="nav-item nav-link" href="https://www.gst.gov.in">GST Site</a>              
      <a class="nav-item nav-link" href="https://mail.zoho.com/zm/#mail/folder/inbox">Email Site</a>
      <a class="nav-item nav-link" href="https://portal.incometaxindiaefiling.gov.in/e-Filing/UserLogin/LoginHome.html?lang=eng">Income Tax</a>
  </nav>
<div class="collapse" id="navbarToggleExternalContent">
                         
</div>
  </head>
  
  <body>
    {% block content %}

    {% endblock content %}
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <footer>
  <p>Posted by: CA J Ramajayam</p>
  <p>Contact information: <a href="mailto:ram@ramajayam.in">ram@ramajayam.in</a>	</p>
</footer



  </body>


</html>

