{% load  static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block title %}
    {% endblock title %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'empdetails' %}">Emp Report</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">logout</a>
    </div>
  </div>
</nav>

  </head>
  <body><center>
    <h3>RAMAJAYAM AND ASSOCIATES</h3>
    {% block content %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    </br>
    <div class="form-container" style="background-color: rgba(0, 0, 0, 0.479);">
    <div>
        &emsp;<span><b>EMP_NAME</b></span>
        <select class="form-control col-lg-2" id="emp_name" name="emp_name">
            <option>RAMAJAYAM</option>
            <option>ARUL MURUGAN</option>
            <option>AKASH</option>
            <option>KALAIARASI</option>
            <option>HITHESH</option>
            <option>SURYA</option>
        </select>
    </div>
    <div >
        &emsp;<span><b>DATE</b></span>
        &emsp;<input type="date" name="date" id="date" class="form-control col-lg-2" readonly> 
        <script>
          var date = new Date();
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();
          if (month < 10) month = "0" + month;
          if (day < 10) day = "0" + day;
          var today = year + "-" + month + "-" + day;
          document.getElementById('date').value = today;
        </script>
        &emsp;<span><b>IN-TIME</b></span>
        &emsp;<input type="time" name="intime" id="intime" class="form-control col-lg-2" required>
        <script>
          var date = new Date();
          var hour = date.getHours()-8;
          var minute = date.getMinutes();
          if (hour < 10) hour = "0" + hour;
          if (minute < 10) minute = "0" + minute;
          var today = hour + ":" + minute;
          document.getElementById('intime').value = today;
          </script>
        &emsp;<span><b>OUT-TIME</b></span>
        &emsp;<input type="time" name="outtime" id="outtime" class="form-control col-lg-2" required ></br>
        <script>
          var date = new Date();
          var hour = date.getHours();
          var minute = date.getMinutes();
          if (hour < 10) hour = "0" + hour;
          if (minute < 10) minute = "0" + minute;
          var today = hour + ":" + minute;
          document.getElementById('outtime').value = today;
          </script>
        &emsp;<input type="submit" name="submit" class="form-control col-lg-2 btn-success" value="save">
        </div>
</form> </div></div>
    {% endblock content %}</center>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <footer>
  <p>Posted by: CA J Ramajayam</p>
  <p>Contact information: <a href="mailto:ram@ramajayam.in">ram@ramajayam.in</a>	</p>
  </footer>



  </body>


</html>

